@import "tailwindcss";


/* General scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}